/* =====================================================
   LAPTOP
===================================================== */

@media (max-width: 1400px) {

    :root {
        --sidebar-width: 220px;
        --chat-width: 320px;
    }

}

/* =====================================================
   TABLET
===================================================== */

@media (max-width: 1024px) {

    .app {

        grid-template-columns:
            80px
            1fr;

    }

    .chat-panel {
        display: none;
    }

}

/* =====================================================
   MOBILE
===================================================== */

@media (max-width: 768px) {

    .app {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }

}