<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GHOST v0.5</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/workspace.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/cards.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>

<body>

    <div class="app">

        <aside class="" sidebar>

            <div class="logo">
                <h1>GHOST</h1>
            </div>

            <nav class="navigation">

                <button>Overview</button>
                <button>Knowledge</button>
                <button>Files</button>
                <button>Tasks</button>
                <button>Brain</button>
                <button>Developer</button>
                <button>Settings</button>

            </nav>

        </aside>

        <main class="workspace">

            <header class="page-header">
                <h2>Overview</h2>
            </header>

            <section class="page-content">

                <h1>Welcome to GHOST</h1>

                <p>
                    Personal AI Operating System
                </p>

            </section>

        </main>

        <aside class="chat-panel">

            <header class="chat-header">
                <h2>GHOST</h2>
            </header>

            <section id="chat-history">

            </section>

            <footer class="chat-input">

                <input id="message" type="text" placeholder="Ask GHOST">

                <button>
                    Send
                </button>

            </footer>

        </aside>

    </div>

    <script src="/static/js/app.js"></script>

</body>

</html>