<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GHOST</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="app">
            <div class="topbar">
                <h1>GHOST
                    <span class="version-badge">
                        v<span id="version">0.4.0</span>
                    </span>
                </h1>

            </div>

            <div class="main-layout">

                <div class="sidebar-left">

                    <h2>Knowledge Base</h2>

                    <input type="file" id="pdfFile">

                    <button onclick="uploadPDF()">
                        Upload PDF
                    </button>

                    <div id="pdf-list">
                        No PDFs uploaded
                    </div>

                </div>

                <div class="chat-section">

                    <div id="chat-box">
                        <div class = "welcome-card">

                            <h1>GHOST <span class = "version-badge">v0.4.0</span></h1>
                            <p class="subtitle">Personal AI Operating System</p>

                            <hr>

                            <h2>Active Modules</h2>

                            <div class="module-card">
                                <div class="module-icon">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="lucide lucide-brain-circuit-icon lucide-brain-circuit">
                                        <path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z" />
                                        <path d="M9 13a4.5 4.5 0 0 0 3-4" />
                                        <path d="M6.003 5.125A3 3 0 0 0 6.401 6.5" />
                                        <path d="M3.477 10.896a4 4 0 0 1 .585-.396" />
                                        <path d="M6 18a4 4 0 0 1-1.967-.516" />
                                        <path d="M12 13h4" />
                                        <path d="M12 18h6a2 2 0 0 1 2 2v1" />
                                        <path d="M12 8h8" />
                                        <path d="M16 8V5a2 2 0 0 1 2-2" />
                                        <circle cx="16" cy="13" r=".5" />
                                        <circle cx="18" cy="3" r=".5" />
                                        <circle cx="20" cy="21" r=".5" />
                                        <circle cx="20" cy="8" r=".5" />
                                    </svg>

                                </div>

                                <div>
                                    <h3>AI</h3>
                                    <p>✓ Memory</p>
                                    <p>✓ Chat</p>
                                    <p>✓ RAG</p>
                                </div>
                            </div>

                            <div class="module-card">
                                <div class="module-icon">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="lucide lucide-folder-cog-icon lucide-folder-cog">
                                        <path
                                            d="M10.3 20H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.98a2 2 0 0 1 1.69.9l.66 1.2A2 2 0 0 0 12 6h8a2 2 0 0 1 2 2v3.3" />
                                        <path d="m14.305 19.53.923-.382" />
                                        <path d="m15.228 16.852-.923-.383" />
                                        <path d="m16.852 15.228-.383-.923" />
                                        <path d="m16.852 20.772-.383.924" />
                                        <path d="m19.148 15.228.383-.923" />
                                        <path d="m19.53 21.696-.382-.924" />
                                        <path d="m20.772 16.852.924-.383" />
                                        <path d="m20.772 19.148.924.383" />
                                        <circle cx="18" cy="18" r="3" />
                                    </svg>

                                </div>

                                <div>
                                    <h3>Filesystem MCP</h3>
                                    <p>✓ Read File</p>
                                    <p>✓ Create File</p>
                                    <p>✓ Edit File</p>
                                    <p>✓ Delete File</p>
                                    <p>✓ Search Files</p>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div class="chat-input">
                        <input type="text" id="message" placeholder="Ask GHOST">

                        <button onclick="sendMessage()">
                            Send
                        </button>

                        <button onclick="clearMemory()">
                            Clear
                        </button>
                    </div>

                </div>

                <div class="sidebar-right">

                    <h2>Tasks</h2>

                    <div id="task-list"></div>

                    <input type="text" id="task-input" placeholder="Enter task...">

                    <button onclick="addTask()">
                        Add Task
                    </button>


                    <h2>System Status</h2>

                    <div class="stat-card">
                        <h3>Knowledge Base</h3>
                        <p>PDFs: <span id="pdf-count">0</span></p>
                        <p>Chunks: <span id="chunk-count">0</span></p>
                    </div>

                    <div class="stat-card">
                        <h3>Tasks</h3>
                        <p>Active: <span id="task-count">0</span></p>
                    </div>

                    <div class="stat-card">
                        <h3>System</h3>

                        <p><strong>Model: </strong><span id="model">Loading...</span></p>

                        <p><strong>Version:</strong>
                            v<span id="version">0.4.0</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/script.js"></script>
</body>

</html>